<nav>
  <div>
    <ul class="float-sm-right">
      <li><%= link_to "Reception", gridion_reception_path %></li>
      <li><%= link_to "Work Orders", gridion_work_orders_path %></li>
      <li><%= link_to "QC", gridion_qcs_path %></li>
      <li><%= link_to "Library Preparation", gridion_library_preparations_path %></li>
      <li><%= link_to "Sequencing Runs", gridion_sequencing_runs_path %></li>
    </ul>
  </div>
</nav>